body {
  overflow-x:hidden;
}

.about-header {
  font-family: 'CMS', 'Droid Serif', Georgia, Times, serif;
  width: 100%;
  background-color: #557088;
  padding-top: 60px;
  height: 380px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  color: white;
}

.about-header h1 {
  margin: 0;
  padding-top: 105px;
  font-weight: bold;
  text-align: center;
  font-size: 200%;
}

.about-header h4 {
  margin: 0;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  font-size: 150%;
}

.photo {
  background-color: white;
  margin-top: -90px;
  position: relative;
  width: 194px;
  height: 194px;
  left: 50%;
  margin-left: -97px;
  z-index: 1;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.photo .background {
  background: url("../data/images/photo.png") center center no-repeat;
  background-size: 180px 180px;
  position: relative;
  margin-top: 2px;
  width: 180px;
  border-radius: 50%;
  margin-left: -90px;
  left: 50%;
  height: 180px;
}

.about {
  position: relative;
  margin-top: -80px;
  left: 15%;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  text-decoration: none;
  overflow-x:hidden;
  overflow-y:hidden;
  margin-bottom: 50px;
}

.socials {
  padding-top: 100px;
  text-align: center;
  margin-left: calc(35vw - 70px);
}

.socials ul li {
  width: 48px;
  height: 48px;
  padding-right: 0px;
  float: left;
  transition: all 0.3s ease;
}

.socials ul li .fa {
  color: #dbdbdb;
  margin-top: 17px;
  transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.socials ul li .fa:hover {
  color: grey;
}

.text {
  width: 70%;
  color: black;
  line-height: 1.6;
  margin: 80px auto;
  margin-bottom: 30px;
  font-size: 150%;
  text-align: center;
}

.text a:link {
  color: #9da0a0;
  text-decoration: none;
}

.text a:visited {
  color: #9da0a0;
}

.text a:hover {
  color: #9da0a0;
  text-decoration: underline;
}

.text a:active {
  color: #9da0a0;
}

.buttons {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.button {
  text-align: center;
  text-decoration: none;
  background-color: #dbdbdb;
  margin-bottom: 5px;
  color: white;
  line-height: 1;
  padding-top: 10px;
  border-radius: 10px;
  font-size: 150%;
  display: inline-block;
  width: 200px;
  height: 40px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
