.archive {
  padding-top: 100px;
}

.archive ul li {
  list-style-type: disc;
  margin: 16px 0 0 20px;
  padding-left: 20px;
}

.archive h1 {
  font-weight: 400;
  line-height: 1;
  margin: 0 0 20px;
}

.archive p {
  margin-bottom: 10px;
}

.archive a:link,
.archive a:hover {
  color: #9da0a0;
  text-decoration: none;
}

.archive a:visited,
.archive a:active {
  color: #9da0a0;
}

@media only screen and (min-width: 768px) {
  .archive {
    padding-top: 130px;
    font-size: 120%;
  }

  .archive h1 {
    font-size: 270%;
  }

  .archive p {
    font-size: 120%;
  }
}
