.text {
  margin-top: 150px;
  position: absolute;
  left: 15%;
  width: 70%;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: 120%;
}

.text ul li {
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}

.text h1 {
  font-size: 300%;
  margin-bottom: 20px;
}

.text p {
  font-size: 120%;
  margin-bottom: 10px;
}

.text a:link {
  color: #9da0a0;
  text-decoration: none;
}

.text a:visited {
  color: #9da0a0;
}

.text a:hover {
  color: #9da0a0;
  text-decoration: underline;
}

.text a:active {
  color: #9da0a0;
}
