*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

body {
  font-size: 1.6rem;
  color: black;
  font-family: 'CMS', 'Droid Serif', Georgia, Times, serif;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin:0;
  padding:0;
}

main {
  margin-bottom: 40px;
}

::selection {
  background: #ffd0a8;
}

::-moz-selection {
  background: #ffd0a8;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

button {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
