body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

.mix {
  visibility: hidden;
  flex: 0 0 100%;
  max-width: 380px;
}

.mix a {
  text-decoration: none;
}

.mixitup-ready .mix {
  visibility: visible;
}

.gallery {
  padding-top: 110px;
  box-sizing: content-box;
}

.gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 -15px;
  justify-content: center;
}

.gallery-list .mix {
  text-align: left;
  padding: 0 15px;
  margin-bottom: 30px;
}

.gallery .fail-message {
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 120%;
}

.gallery .fail-message a {
  color: #2c3e4e;
  text-decoration: none;
}

.gallery .fail-message a:link {
  color: #9da0a0;
}

.gallery .fail-message a:visited {
  color: #9da0a0;
}

.gallery .fail-message a:hover {
  color: #9da0a0;
  text-decoration: underline;
}

.gallery .fail-message a:active {
  color: #9da0a0;
}


/* -------------------------------- 
Post cover design
-------------------------------- */

.post a:link {
  text-decoration: none;
}

.post a:visited {
  text-decoration: none;
}

.post a:hover {
  text-decoration: none;
}

.post a:active {
  text-decoration: none;
}

.post {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  transform-origin: 0 0;
  background-color: white;
  height: 100%;
  min-height: 544px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0 20px 8px -8px rgba(61, 63, 65, .2);
  transition: all .15s ease-in-out;
  border-radius: 7px;
  text-decoration: none;
}

.post:hover {
  transform: scale(1.015);
  box-shadow: 0 25px 9px -9px rgba(61, 63, 65, .3);
}

@media (pointer: coarse) {
  .post:hover {
    transform: none;
    box-shadow: 0 20px 8px -8px rgba(61, 63, 65, .2);
  }
}

.post-body {
  padding: 0 32px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post h3 {
  flex-basis: 56px;
  margin: 10px 0 0;
  color: black;
  font-weight: 400;
  font-size: 2.5rem;
  text-decoration: none;
}

.post p {
  color: #9A9AA6;
  line-height: 1.5;
  font-size: 1.6rem;
  flex-grow: 1;
  flex-basis: 48px;
}

.post img {
  border-radius: 7px 7px 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  position: relative;
}

.top-left {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 3.5rem;
  color: black;
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .gallery-list {
    justify-content: flex-start;
  }

  .mix {
    flex-basis: 50%;
    max-width: 50%;
  }

  .gallery .fail-message {
    font-size: 150%;
  }
}

@media only screen and (min-width: 1200px) {
  .mix {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
}
