body {
  background-color: white;
  max-width:100%;
}

#wrap {
  font-family: 'CMS', 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: -0.02rem;
  line-height: 1.5;
  text-align: left;
  min-height: 100%;
  height: auto;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 0 90px;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
}

em {
  font-style: italic;
}

b {
  font-weight: bold;
}

.container {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px; 
  padding-left: 5px;
  padding-right: 5px; 
}

.content {
  display: block;
  max-width: 786px;
  margin: auto;
  padding-top: 90px;
  margin-top: 60px;
}

.content h1 {
  font-family: 'CMS', 'Droid Serif', Georgia, Times, serif;
  font-size: 300%;
  line-height: 65px;
  text-align: center;
}

.content .time {
  font-family:CMSS; 
  font-size:120%;
  text-align: center;
}

.content h2 {
  font-size: 150%;
  font-weight: bold;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px
}

.content h3 {
  font-size: 115%;
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px
}

.content h4 {
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px
}

.content p {
  text-indent: 5%;
  text-align: justify;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0 0 8px;
}

.content img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  border: 0;
}

.content ol {
  display: block;
  list-style-type: decimal;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.content li {
  text-align: justify;
}

.content .note {
  text-indent: 0%;
  display: block;
  background-color: #ededed;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
}

code {
  font-size: 1.6rem;
}

pre code {
  font-size: 1.6rem;
  padding-top: 2px;
  max-height: 400px;
  display: block;
}

.content a:link {
  font-style: italic;
  color: rgb(109, 109, 109);
  text-decoration: none;
}

.content a:visited {
  color: rgb(109, 109, 109);
}

.content a:hover {
  color: rgb(109, 109, 109);
  text-decoration: underline;
}

.content a:active {
  color: rgb(109, 109, 109);
}

#footnotediv {
  font-size: 90%;
  color: #5f5f5f;
  background-color: white;
  padding: 3px 12px;
  border: 1px solid #CDBBB5;
  box-shadow: #555 0 0 10px;
  -webkit-box-shadow: #555 0 0 10px;
  -moz-box-shadow: 0 0 10px #555;
  text-align: left
}

.footnotes {
  text-align: justify;
}

.footnoteRef {
  color: red !important;
  font-weight: bold !important;
}

.centered_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;;
 }

.source {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}
