.progress-container {
  max-width:100%;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: #2c3e4e;
  width: 0;
  display: block;
  height: inherit;
}
