.search {
  top: 8px;
  right: 57px;
  height: 40px;

  border: none;
  position: relative;
  color: white;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.search:hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: .6;
}

.search .search-input {
  font-size: 1.6rem;
  border: none;
  outline: none;
  color: #d1d1d1;
  padding: 3px 43px 3px 3px;
  height: 40px;
  width: 0;
  position: absolute;
  top: 3px;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(1.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

.search .search-input:focus:hover {
  border-bottom: 1px solid white;
  color: #d1d1d1;
}

.search .search-input:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid white;
  cursor: text;
  color: white;
}

.search input[type="submit"] {
  height: 43px;
  width: 43px;
  outline: none;
  background: url("../data/vector/magnifier.svg") center center no-repeat;
  background-size: 25px 25px;
  text-indent: -10000px;
  border: none;
  color: #d1d1d1;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: opacity .4s ease;
}

@media only screen and (min-width: 768px) {
  .search {
    top: -7px;
    right: 10px;
    height: 50px;
  }

  .search input[type="submit"] {
    height: 67px;
    width: 63px;
    background-size: 28px 28px;
  }

  .search .search-input {
    height: 60px;
    padding-right: 60px;
  }

  .search .search-input:focus {
    width: 300px;
  }
}
