.tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}

.post-tags {
  margin: 15px 0 30px;
  text-align: center;
}

.post-tags .tag,
.tags .tag {
  cursor: pointer;
  transform-origin: 0 0;
  padding: 5px 20px;
  margin: 10px 0 0;
  outline: none;
  background: url("../data/vector/tag.svg") left center no-repeat;
  background-size: 20px 20px;
  font-weight: 700;
  color: #3f64d3;
  transition: transform 0.3s;
}

.post-tags .tag:hover,
.tags .tag:hover {
  font-weight: 800;
  color: #1c4cdb;
  text-decoration: none;
}

.post-tags .tag:link,
.post-tags .tag:visited {
  color: #3f64d3;
}
