.tags {
  margin-top: 15px;
  /*height: 30px;*/
  text-align: left;
}

.post_tags {
  margin-top: 15px;
  height: 30px;
  text-align: center;
}

.tag {
  cursor: pointer;
  transform-origin: 0 0;
  padding: 20px;
  margin: .75em 0 0;
  background: url("../data/vector/tag.svg") left center no-repeat;
  background-size: 20px 20px;
  text-decoration: none;
  font-weight: 700;
  color: #3f64d3;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.tag:hover {
  font-weight: 800;
  color: #1c4cdb;
}
